@charset "UTF-8";
@keyframes slydebar-check {
  from {
    transform: rotate(0deg);
    width: 0px;
    overflow: visible;
  }
  to {
    transform: rotate(360deg);
    width: 100px;
    overflow: visible;
  }
}
@keyframes back-apparition {
  from {
    transform: translate(0px);
    width: 12px;
    background-color: #99E2D0;
  }
  to {
    transform: translate(10px);
    width: 55px;
    background-color: #99E2D0;
  }
}
@keyframes menu-come {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes mini-comes {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-spin {
  0% {
    visibility: visible;
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes spinload {
  0% {
    transform: rotate(0deg);
    visibility: visible;
  }
  25% {
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
    visibility: visible;
  }
  50% {
    transform: rotate(360deg);
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
    visibility: visible;
  }
  75% {
    border-top-color: #FF79DA;
    border-bottom-color: #9356DC;
    visibility: visible;
  }
  100% {
    transform: rotate(720deg);
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
    visibility: hidden;
  }
}
@keyframes disparition-heart {
  0% {
    transition: 1s;
    opacity: 1;
    visibility: visible;
  }
  100% {
    transition: 1s;
    opacity: 0;
    visibility: visible;
  }
}
@keyframes apparition-heart {
  from {
    transform: rotate(0deg);
    width: 0px;
    overflow: visible;
  }
  to {
    transform: rotate(360deg);
    width: 100px;
    overflow: visible;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

img {
  object-fit: cover;
}

body {
  margin: 0;
}

.spinload-back {
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: #FF79DA;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  position: fixed;
  z-index: 6;
  animation: fade-spin 5s linear;
}

.spinload {
  visibility: hidden;
  margin: auto;
  border: 10px solid #99E2D0;
  width: 75px;
  height: 75px;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  animation: spinload 5s linear;
  position: fixed;
  left: 40%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  z-index: 7;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-logo {
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 2px 3px 0px #b4b3b3;
  align-items: center;
  flex-direction: row;
  margin-top: 18px;
}
.big-logo img {
  width: 55%;
  margin-bottom: 10px;
}

form {
  font-size: 20px;
  color: #383333;
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}
form input {
  width: 200px;
  border: none;
  font-weight: 400;
  background-color: #f2f2f2;
  font-size: 23px;
  margin-left: 10px;
}
form i {
  font-size: 20px;
  margin-left: 70px;
}

.title {
  text-align: center;
}

.discover {
  text-align: center;
  font-weight: 200;
}

.navi {
  background-color: #f2f2f2;
  text-align: center;
  display: flex;
  justify-content: center;
}
.navi a {
  text-decoration: none;
  border-radius: 45px;
  margin-top: 15px;
  margin-bottom: 45px;
  color: white;
  font-size: 20px;
  padding: 18px;
  font-weight: 300;
  background-color: #FF79DA;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
.navi a:hover {
  transition: 1s;
  opacity: 0.8;
  box-shadow: 1px 1px 12px #FF79DA;
}

.T1 {
  margin-top: 45px;
  margin-bottom: 30px;
  margin-left: 10%;
}

.choice {
  margin: 0 auto;
  width: 95%;
}
.choice p {
  font-size: medium;
  margin-right: 25px;
}
.choice .phone a {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #f2f2f2;
  height: 55px;
  border-radius: 15px;
  text-decoration: none;
  justify-content: space-between;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 12px #b4b3b3;
}
.choice .phone a:hover {
  background-color: #f5eeff;
  box-shadow: 1px 1px 12px #FF79DA;
  transition: 1s;
}
.choice .number-one h6 {
  background-color: #9356DC;
  border-radius: 25px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: -10px;
  color: white;
  font-size: 17px;
}
.choice .phone-text {
  width: 100%;
  font-size: 20px;
}
.choice .phone-i {
  color: grey;
  margin-left: 15px;
  margin-right: 24px;
  font-size: 24px;
}
.choice .side-bar a {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #f2f2f2;
  height: 55px;
  border-radius: 15px;
  text-decoration: none;
  justify-content: space-between;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 12px #b4b3b3;
}
.choice .side-bar a:hover {
  background-color: #f5eeff;
  box-shadow: 1px 1px 12px #FF79DA;
  transition: 1s;
}
.choice .number-two h6 {
  background-color: #9356DC;
  border-radius: 25px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: -10px;
  color: white;
  font-size: 17px;
}
.choice .side-bar-text {
  width: 100%;
  font-size: 20px;
}
.choice .side-bar-i {
  color: grey;
  margin-left: 15px;
  margin-right: 24px;
  font-size: 24px;
}
.choice .store a {
  display: flex;
  height: 55px;
  align-items: center;
  flex-direction: row;
  background-color: #f2f2f2;
  border-radius: 15px;
  text-decoration: none;
  justify-content: space-between;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 100px;
  box-shadow: 1px 1px 12px #b4b3b3;
}
.choice .store a:hover {
  background-color: #f5eeff;
  box-shadow: 1px 1px 12px #FF79DA;
  transition: 1s;
}
.choice .number-three h6 {
  background-color: #9356DC;
  border-radius: 25px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: -10px;
  color: white;
  font-size: 17px;
}
.choice .store-text {
  width: 100%;
  font-size: 20px;
}
.choice .store-i {
  color: grey;
  margin-left: 15px;
  margin-right: 21px;
  font-size: 24px;
}

.title-restau {
  background-color: #f2f2f2;
}
.title-restau h2 {
  margin-left: 12%;
  font-size: 27px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  margin: 0% auto;
  width: 100%;
  background-color: #f2f2f2;
  height: 1450px;
}
.content a {
  text-decoration: none;
  color: black;
}
.content h3 {
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 15px;
}
.content .nom-restaux h2 {
  margin-top: 8px;
  margin-bottom: 0px;
  margin-left: 15px;
  font-size: 23px;
}
.content .card-new {
  position: relative;
  border-radius: 25px;
  background-color: white;
  box-shadow: 1px 1px 12px #b4b3b3;
  width: 95%;
  margin-left: 12px;
  margin-right: 5px;
  margin-bottom: 35px;
}
.content .card-new:hover {
  transition: 0.8s;
  box-shadow: 1px 1px 12px #FF79DA;
}
.content .card-new img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.content .new {
  position: absolute;
  top: 10%;
  left: 79%;
  transform: translate(-50%, -50%);
  background-color: #99E2D0;
  border-radius: 5px;
}
.content p {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #018966;
}
.content .contener-t-i {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  align-items: center;
}
.content .contener-t {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content .nom-restaux {
  display: flex;
}
.content .heart-i {
  display: flex;
  margin-right: -6%;
}
.content .heart-i .heart-card-full {
  position: absolute;
  z-index: 2;
  overflow: visible;
  width: 100px;
}
.content .heart-i .heart-card-empty {
  display: flex;
  overflow: visible;
  z-index: 3;
  width: 100px;
}
.content .heart-i .heart-card-empty:hover {
  animation: disparition-heart 1s;
  animation-fill-mode: forwards;
}
.content .card {
  position: relative;
  border-radius: 25px;
  background-color: white;
  box-shadow: 1px 1px 12px #b4b3b3;
  width: 95%;
  margin-left: 12px;
  margin-right: 5px;
  margin-bottom: 35px;
}
.content .card:hover {
  transition: 0.8s;
  box-shadow: 1px 1px 12px #FF79DA;
}
.content .card img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.content .card h2 {
  margin-left: 15px;
  margin-bottom: 0px;
}

.head-carte {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 15px;
}

.logo-carte {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 15px;
  margin-top: 15px;
  align-items: center;
}
.logo-carte img {
  width: 45%;
}
.logo-carte i {
  font-size: 22px;
  display: flex;
  align-items: center;
  margin-left: 13px;
  padding-right: 20%;
}
.logo-carte a {
  text-decoration: none;
  color: black;
  margin-right: 20%;
}

.menu-title {
  display: flex;
  flex-direction: column;
}
.menu-title img {
  width: 100%;
}

.texte-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  justify-content: space-between;
  border-radius: 25px 25px 0 0;
  position: absolute;
  top: 290px;
  align-items: center;
}
.texte-menu h1 {
  padding-left: 20px;
  font-size: 23px;
  font-family: "Shrikhand";
  margin-right: 13px;
}
.texte-menu i {
  font-size: 25px;
  font-weight: lighter;
}
.texte-menu .menu-heart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 320px) {
  .texte-menu .menu-heart {
    position: absolute;
    right: 0%;
  }
}
.texte-menu .menu-heart .empty {
  width: 85px;
  position: absolute;
  display: flex;
}
.texte-menu .menu-heart .empty:hover {
  animation: disparition-heart 1s;
  animation-fill-mode: forwards;
}
.texte-menu .menu-heart .full {
  display: flex;
  width: 85px;
  position: absolute;
}

.fond {
  background-color: #f2f2f2;
  padding-bottom: 10px;
}

.Entrée {
  opacity: 0;
  transform: translateY(-100px);
  padding-top: 35px;
  animation: mini-comes 2s forwards;
}

.plats {
  opacity: 0;
  transform: translateY(-100px);
  animation: mini-comes 2s forwards;
  animation-delay: 1s;
}

.desert {
  opacity: 0;
  transform: translateY(-100px);
  animation: mini-comes 2s forwards;
  animation-delay: 2s;
}

.intitu {
  margin-top: 55px;
  border-bottom: solid 3px #99E2D0;
  width: 12%;
  margin-left: 12px;
  font-weight: 200;
}

.mini-card {
  height: 74px;
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 1px 1px 12px #b4b3b3;
  border-radius: 25px;
  margin-bottom: 18px;
  margin-right: 5%;
  margin-left: 5%;
  align-items: center;
  justify-content: space-between;
}
.mini-card:hover .check {
  animation: back-apparition 1s;
  animation-fill-mode: forwards;
}
.mini-card:hover .check i {
  animation: slydebar-check 1s linear;
  animation-fill-mode: forwards;
}
.mini-card:hover .prix {
  width: auto;
}

.contnere-text-minicard {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contnere-text-minicard h2 {
  font-size: 14px;
  padding-left: 17px;
  margin-bottom: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contnere-text-minicard h3 {
  font-weight: 300;
  font-size: 12px;
  padding-left: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prix {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 43px;
}

.check {
  overflow: hidden;
  width: 0%;
  display: flex;
  color: white;
  border-radius: 0 15px 15px 0;
  font-size: 30px;
}
.check i {
  overflow: hidden;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.money {
  display: flex;
  padding-top: 23px;
  margin-right: 10px;
}

.end-comend {
  background-color: #f2f2f2;
}

.command {
  width: 80%;
  margin-left: 33px;
  border: none;
  border-radius: 45px;
  margin-top: 15px;
  margin-bottom: 45px;
  color: white;
  font-size: 20px;
  padding: 18px;
  font-weight: 300;
  background-color: #FF79DA;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  transition: opacity 1s;
}

.command:hover {
  opacity: 0.8;
  box-shadow: 1px 1px 12px #FF79DA;
}

footer {
  background-color: #383333;
  color: white;
  height: auto;
}
footer img {
  margin-left: 15px;
  margin-top: 15px;
  width: 145px;
}
footer li {
  list-style-type: none;
  margin-bottom: 12px;
}
footer li a {
  color: white;
}
footer ul {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-bottom: 0;
}
footer ul i {
  display: flex;
  margin-right: 8px;
}
footer ul p {
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .spinload {
    left: 45%;
  }

  .choice {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 95px;
  }

  .fond {
    padding-bottom: 10px;
  }

  .phone {
    margin-right: 5px;
  }
  .phone i {
    margin-left: 0px;
  }

  .side-bar {
    margin-right: 5px;
  }
  .side-bar i {
    margin-left: 0px;
  }

  .T1 {
    margin-left: 38%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .title-restau h2 {
    margin-left: 38%;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .content .heart-i {
    width: 22%;
    margin-right: 0%;
  }
  .content h2 {
    font-size: 20px;
  }

  .new-tabs {
    display: flex;
    flex-direction: row;
  }

  .card-nonew-tabs {
    display: flex;
    flex-direction: row;
  }

  .texte-menu {
    top: 300px;
  }
  .texte-menu h1 {
    font-size: 35px;
  }

  .contnere-text-minicard h2 {
    font-size: 16px;
  }
  .contnere-text-minicard h3 {
    font-size: 14px;
  }

  .command {
    font-size: 25px;
    margin-left: 9%;
  }

  .end-comend {
    background-color: #f2f2f2;
  }

  footer {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  footer img {
    width: 200px;
    position: absolute;
  }
  footer ul {
    display: flex;
    flex-direction: row;
  }
  footer ul p {
    margin-top: 55px;
    margin-right: 25px;
  }
}
@media screen and (min-width: 993px) {
  .logo-carte {
    margin-right: 16%;
    justify-content: center;
  }
  .logo-carte img {
    width: 39%;
    margin-right: 203px;
  }
  .logo-carte a {
    margin-right: 33%;
  }
  .logo-carte i {
    font-size: 39px;
  }
  .logo-carte i:hover {
    transition: 0.5s;
    color: #FF79DA;
  }

  body {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  body {
    width: 100%;
  }
  body .spinload-back {
    width: 100%;
  }
}
@media screen and (min-width: 993px) {
  .spinload-back {
    width: 90%;
  }
}
@media screen and (min-width: 993px) {
  .spinload {
    left: 48%;
  }
}
@media screen and (min-width: 993px) {
  .menu-title img {
    border-radius: 25px 25px 0 0;
  }
}
@media screen and (min-width: 993px) {
  .big-logo {
    margin-top: 5px;
  }
  .big-logo img {
    width: 35%;
  }
}
@media screen and (min-width: 993px) {
  .title {
    font-size: 17px;
  }
}
@media screen and (min-width: 993px) {
  .contnere-text-minicard h2 {
    font-size: 16px;
  }
  .contnere-text-minicard h3 {
    font-size: 14px;
  }
}
@media screen and (min-width: 993px) {
  .choice {
    display: flex;
    flex-direction: row;
    height: 95px;
    justify-content: space-around;
  }
}
@media screen and (min-width: 993px) {
  .phone {
    margin-right: 5px;
  }
  .phone i {
    margin-left: 0px;
  }
}
@media screen and (min-width: 993px) {
  .side-bar {
    margin-right: 5px;
  }
  .side-bar i {
    margin-left: 0px;
  }
}
@media screen and (min-width: 993px) {
  .T1 {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 993px) {
  .title-restau h2 {
    margin-left: 0%;
    text-align: center;
  }
}
@media screen and (min-width: 993px) {
  .content {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .content h2 {
    font-size: 20px;
  }
  .content .card-new {
    width: 40%;
    margin-left: 6%;
  }
  .content .card {
    width: 40%;
    margin-left: 6%;
  }
}
@media screen and (min-width: 993px) {
  .new-tabs {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 993px) {
  .card-nonew-tabs {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 993px) {
  footer {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  footer img {
    width: 190px;
    position: absolute;
  }
  footer ul {
    display: flex;
    flex-direction: row;
  }
  footer ul p {
    margin-top: 55px;
    margin-right: 25px;
  }
}
@media screen and (min-width: 993px) {
  .texte-menu {
    width: 100%;
    display: flex;
    position: unset;
    border-radius: unset;
    justify-content: space-around;
  }
  .texte-menu h1 {
    font-size: 35px;
  }
  .texte-menu .menu-heart {
    margin-right: 5%;
  }
}
@media screen and (min-width: 993px) {
  .Entrée {
    padding-top: 0%;
  }
}
@media screen and (min-width: 993px) {
  .fond {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media screen and (min-width: 993px) {
  .mini-card {
    width: 320px;
    margin-left: 0%;
  }
}
@media screen and (min-width: 993px) {
  .desert {
    padding-bottom: 3px;
  }
}
@media screen and (min-width: 993px) {
  .end-comend {
    background-color: #f2f2f2;
  }
}
@media screen and (min-width: 993px) {
  .command {
    font-size: 25px;
    margin-left: 9%;
  }
}

/*# sourceMappingURL=style.css.map */
