$primary:#9356DC;
$secondary:#FF79DA;
$tertiare:#99E2D0;

*{
    font-family: 'Roboto', sans-serif;
}
img{
    object-fit: cover;
   
}

@media screen and (max-width:767px){
    body{
        margin: 0;
    }

    .rom{
        display: flex;
        width: 100%;
        justify-content: center;
        box-shadow: 0px 2px 3px 0px #b4b3b3;
        align-items: center;
        flex-direction: row;
        margin-top: 18px;
        

        img{
            width: 55%;
            margin-bottom: 10px;
        }
    }
    .head {
        display: flex;
        flex-direction: column; 
        align-items: center;
}
    
   
    form{
        
        font-size: 20px;
        color: rgb(56, 51, 51);
        background-color: #f2f2f2;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center;

        input{
            width: 200px;
            border: none;
            font-weight: 400;
            background-color: #f2f2f2;
            font-size: 23px;
            margin-left: 10px;
        }
        i{
            font-size: 20px;
            margin-left: 70px;
        }
    }
    .title{
        font-size: 28px;
        padding-top: 45px;
        padding-bottom: 0px;
        margin-left: 25px;
   
    
    
      h1{
        
        display: flex;
        text-align: center;
        flex-direction: column;
        font-size: 30px;
        margin-bottom: 0px;
        
    }
    
}
    .test{
        text-align: center;
        font-weight: 200;
}
    .navi{
        background-color:#f2f2f2;
        
        text-align: center;
        display: flex;
        justify-content: center;
        

        a{
            text-decoration: none;
            border-radius: 45px;
            margin-top: 15px;
            margin-bottom: 45px;
            color: white;
            font-size: 20px;
            padding: 18px;
            font-weight: 300;
            background-color: $secondary;
            background-image: linear-gradient(to bottom right, $secondary, $primary);

        }
    }
    .choice{
        margin: 0 auto;
        width: 95%;

        h2{
            margin-top: 45px;
            margin-bottom: 30px;
            
        }
        p{
            font-size: medium;
        }
        
        .phone a{
            display: flex;
            align-items: center;
            flex-direction: row;
            background-color: #f2f2f2;
            border-radius: 15px;
            text-decoration: none;
            justify-content: space-between;
            color: black;
            margin-left: 5px;
            margin-right: 5px; 
            margin-bottom: 20px;
            box-shadow: 1px 1px 12px #b4b3b3;
        }

        .number-one p{
            background-color: $primary;
            border-radius:25px;
            padding-right: 5px;
            padding-left: 5px;
            margin-left: -10px;
            color: white;
            font-size: 17px;
        
    
        }
        .phone-text{
            width: 100%;
            font-size: 20px;
            
            
        }
        .phone-i{
            color: grey;
            margin-left: 15px;
            margin-right: 33px;
            font-size: 24px;
            
        }
        .side-bar a{
            display: flex;
            align-items: center;
            flex-direction: row;
            background-color: #f2f2f2;
            border-radius: 15px;
            text-decoration: none;
            justify-content: space-between;
            color: black;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 20px;
            box-shadow: 1px 1px 12px #b4b3b3; 
        }

        .number-two p{
            background-color: $primary;
            border-radius:25px;
            padding-right: 5px;
            padding-left: 5px;
            margin-left: -10px;
            color: white;
            font-size: 17px;
        
    
        }
        .side-bar-text{
            width: 100%;
            font-size: 20px;
            
            
        }
        .side-bar-i{
            color: grey;
            margin-left: 15px;
            margin-right: 29px;
            font-size: 24px;
            
        }
        .store a{
            display: flex;
            align-items: center;
            flex-direction: row;
            background-color: #f2f2f2;
            border-radius: 15px;
            text-decoration: none;
            justify-content: space-between;
            color: black;
            margin-left: 5px;
            margin-right: 5px; 
            margin-bottom: 100px;
            box-shadow: 1px 1px 12px #b4b3b3;
        }

        .number-three p{
            background-color: $primary;
            border-radius:25px;
            padding-right: 5px;
            padding-left: 5px;
            margin-left: -10px;
            color: white;
            font-size: 17px;
        
    
        }
        .store-text{
            width: 100%;
            font-size: 20px;
            
            
        }
        .store-i{
            color: grey;
            margin-left: 15px;
            margin-right: 21px;
            font-size: 24px;
            
        }
    }
    
    .content{
        
            margin: 0% auto;
            width: 100%;
            background-color: #f2f2f2;
            height: 1600px;
        
    
        

        a{
            text-decoration: none;
            color: black;

        }
        h3{
            font-weight: 300;
            margin-top: 8px;
            margin-bottom: 8px;
            margin-left: 15px;
        
        }
        .nom-restaux h2{
            margin-top: 8px;
            margin-bottom: 0px;
            margin-left: 15px;
            font-size: 23px;
        }
        
        .card-new {
            position: relative;
            border-radius: 25px;
            background-color: white;
            box-shadow: 1px 1px 12px #b4b3b3;
            width: 95%;
            margin-left: 12px;
            margin-right: 5px;
            margin-bottom: 35px; 
            img{
                width: 100%;
                border-radius: 20px 20px 0px 0px;
            }

        }
        .new {
            position: absolute;
            top: 10%;
            left: 79%;
            transform: translate(-50%, -50%);
            background-color: $tertiare;
            border-radius: 5px;

            
            
            

        }
        p{
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 18px;
            color: #018966;
            

        }
        .contener-t-i{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 95%;
            align-items: flex-end;

        }
        .contener-t{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .nom-restaux{
            display: flex;
        }
        .lieux-restaux{
            display: flex;

        }
        .heart-i{
            display: flex;
            font-size: 30px;
            margin-bottom: 30px;
            margin-right: 20px;

        }
        .card{
            position: relative;
            border-radius: 25px;
            background-color: white;
            box-shadow: 1px 1px 12px #b4b3b3;
            width: 95%;
            margin-left: 12px;
            margin-right: 5px;
            margin-bottom: 35px; 
            img{
                width: 100%;
                border-radius: 20px 20px 0px 0px;
            }
            h2{
                margin-top: 8px;
                margin-bottom: 0px;
                margin-left: 15px;
                font-size: 23px; 
            }
        }
    }
footer{
        background-color: rgb(56, 51, 51);
        color: white;
        height: 200px;

        img{
            margin-left: 15px;
            margin-top: 15px;
            width: 145px;
        }

    
    li{
        list-style-type: none;
        margin-bottom: 12px;
    }
    ul{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        
        i{
            display: flex;
            margin-right: 8px;
        }
    }
}

.fond{
    background-color: #f2f2f2;
}

.head-carte{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top:15px;

}
.logo-carte{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
    margin-top: 15px;
    align-items: center;


    img{
        width: 45%;
    }
    i{
        font-size: 22px;
        display: flex;
        align-items: center;
        margin-left: 13px;
        padding-right: 20%;

    }
    a{
        text-decoration: none;
        color: black;
        margin-right: 20%;
    }
}

.menu-title{
    display: flex;
    flex-direction: column;

    img{
        width: 100%;
    }


}
.texte-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    justify-content: space-around;
    border-radius: 25px;
    position: absolute;
    top: 287px;
    align-items: center;


    h1{
        font-size: 30px;
        font-family : 'Shrikhand';
        margin-right: 13px;

    }
    i{
        font-size: 25px;
        font-weight: lighter;
    }
}


.Entrée{
    padding-top: 35px;
}




.intitu{
    margin-top: 55px;
    border-bottom: solid 3px $tertiare;
    width: 12%;
    margin-left: 12px;
    font-weight: 200;
}
.mini-card{
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 1px 1px 12px #b4b3b3;
    border-radius: 25px;
    margin-bottom: 18px;
    margin-right: 5%;
    margin-left: 5%;
    align-items: center;
    justify-content: space-between;


}
.contnere-text-minicard{
    display: flex;
    flex-direction: column;

    h2{
        font-size: 16px;
        padding-left: 17px;
        margin-bottom: auto;

    
    }

    h3{
        font-weight: 300;
        font-size: smaller;
        padding-left: 17px;
    }
   
}

.prix{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.check{
    display: flex;
    color: white;

    


    :hover{
        transition: .5s;
        font-size: 42px;
        padding-top: 16px;
        padding-bottom: 16px;
        border-radius: 0 15px 15px 0;
        color: white;
        animation: opacity 2s both;
        transform: scale(1,1) rotate(360deg);
    

    }
    



    
}



.command{
    width: 80%;
    margin-left: 33px;
    border: none;
    border-radius:45px;
    margin-top:15px;
    margin-bottom:45px;
    color: white;
    font-size: 20px;
    padding: 18px;
    font-weight: 300;
    background-color: $secondary;
    background-image: linear-gradient(to bottom right, $secondary, $primary);
}






















}
