@import "./variables";
@import "./keyframes";
@import "./global";
@import "./loading";
@import "./header";
@import "./bar-de-naviguation";
@import "./carte-du-restaurent";


    



.fond{
    background-color: #f2f2f2;
    padding-bottom: 10px;
}

.end-comend{
    background-color: #f2f2f2;
    
}

.head-carte{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top:15px;

}
.logo-carte{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
    margin-top: 15px;
    align-items: center;
    


    img{
        width: 45%;
    }
    i{
        font-size: 22px;
        display: flex;
        align-items: center;
        margin-left: 13px;
        padding-right: 20%;

    }
    a{
        text-decoration: none;
        color: black;
        margin-right: 20%;
    }
}

.menu-title{
    display: flex;
    flex-direction: column;

    img{
        width: 100%;
    }


}
.texte-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    justify-content: space-between;
    border-radius: 25px 25px 0 0;
    position: absolute;
    top: 290px;
    align-items: center;
    


    h1{
        padding-left: 20px;
        font-size: 23px;
        font-family : 'Shrikhand';
        margin-right: 13px;

        



    }
    i{
        font-size: 25px;
        font-weight: lighter;
    }
    .menu-heart{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        @media screen and (max-width:320px){
            position:absolute;
            right: 0%;
            
        }
        
    
        .empty{
            width: 85px;
            position: absolute;
            display: flex;
            

            &:hover{
                animation: disparition-heart 1s;
                animation-fill-mode: forwards;
            }

            
            
        }   
    
        .full{
            display: flex;
            width: 85px;
            position: absolute;
            

        }
    
    
    
        
    
    
    }

}

    
.Entrée{
    opacity: 0;
    transform: translateY(-100px);
    padding-top: 35px ;
    animation: mini-comes  2s forwards;
    
    
}
.plats{
    opacity: 0;
    transform: translateY(-100px);
    animation: mini-comes  2s forwards;
    animation-delay: 1s;
    
    

}
.desert{
    opacity: 0;
    transform: translateY(-100px);
    animation: mini-comes 2s forwards;
    animation-delay: 2s;


}




.intitu{
    margin-top: 55px;
    border-bottom: solid 3px $tertiare;
    width: 12%;
    margin-left: 12px;
    font-weight: 200;
}
.mini-card{
    height: 74px;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 1px 1px 12px #b4b3b3;
    border-radius: 25px;
    margin-bottom: 18px;
    margin-right: 5%;
    margin-left: 5%;
    align-items: center;
    justify-content: space-between;
    
    
    
    
    
    &:hover .check{
        animation: back-apparition 1s;
        animation-fill-mode: forwards;
        
    }
    &:hover .check i{
        animation:slydebar-check 1s linear;
        animation-fill-mode: forwards;
        

    }
    &:hover .prix{
        width: auto;
    }
    
    
    
}


.contnere-text-minicard{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    

    h2{
        font-size: 14px;
        padding-left: 17px;
        margin-bottom: auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    h3{
        font-weight: 300;
        font-size: 12px;
        padding-left: 17px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;


    }
   
}

.prix{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 43px;
    
    
}

.check {
    overflow: hidden;
    width:0%;
    display: flex;
    color: white;
    border-radius: 0 15px 15px 0;
    font-size: 30px;
    
    i{
        overflow: hidden;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 22px;
        padding-bottom: 22px;
    }
}


.money{
    display: flex;
    padding-top: 23px;
    margin-right: 10px;
}





.command{
    width: 80%;
    margin-left: 33px;
    border: none;
    border-radius:45px;
    margin-top:15px;
    margin-bottom:45px;
    color: white;
    font-size: 20px;
    padding: 18px;
    font-weight: 300;
    background-color: $secondary;
    background-image: linear-gradient(to bottom right, $secondary, $primary);
    transition: opacity 1s;

}
.command:hover{
    opacity: 0.8;
    box-shadow: 1px 1px 12px $secondary;
    

}
footer{
    background-color: rgb(56, 51, 51);
    color: white;
    height: auto;
    
    img{
        margin-left: 15px;
        margin-top: 15px;
        width: 145px;
    }



li{
    list-style-type: none;
    margin-bottom: 12px;

    a{
        color: white;
    }
}
ul{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-bottom: 0;

    
    i{
        display: flex;
        margin-right: 8px;
    }

    p{
        margin-top: auto;
        margin-bottom: auto;
    }
}
   

}

/* rajouter cette media queri (tablette) dan sun fichier a par */

@import "./mediaquery-tablette";

@import "./mediaquery-dekstop";


